.summaryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  text-align: left;
}

.summaryContainer img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.description {
  color: white;
  font-family: SfUIDisplay;
  font-size: 17px;
}

.answer {
  line-height: 36px;
  color: #FFFFFF;
  -webkit-text-stroke: 0.5px #4077E2;
  font-family: InterMedium !important;
}