.rainbowButton {
  width: 310px;
  height: 70px;
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  animation: slidebg 2s linear infinite;
  margin: 15px auto 0px auto;
  cursor: pointer;
}

.disabled {
  background: gray;
  cursor: default;
}

.rainbowButton:after {
  content: attr(about);
  width: 300px;
  height: 60px;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
