.table {
  min-width: 650px;
  text-align: left;
  display: grid;
  grid-template-columns: 150px 1fr;
  font-family: InterSemiBold;
}

.table > div:nth-child(odd) {
  border-right: 5px solid #915bea;
  font-weight: 800;
  font-family: InterExtraBold;
}

.table > div:nth-child(even) {
  font-weight: 600;
}

.table > div:nth-child(1),
.table > div:nth-child(2),
.table > div:nth-child(3),
.table > div:nth-child(4),
.table > div:nth-child(5),
.table > div:nth-child(6) {
  border-bottom: 5px solid #915bea;
}

.table > div {
  padding: 10px;
}
