@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/ubuntu/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coda";
  src: url("assets/fonts/coda/Coda-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodaExtraBold";
  src: url("assets/fonts/coda/Coda-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Joystix";
  src: url("assets/fonts/joystix/joystix.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arcade";
  src: url("assets/fonts/arcade/arcade.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Quarkstorm";
  src: url("assets/fonts/quarkstorm/quarkstorm.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuarkstormBold";
  src: url("assets/fonts/quarkstorm/quarkstormbold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterBlack";
  src: url("assets/fonts/inter/Inter-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterBold";
  src: url("assets/fonts/inter/Inter-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterMedium";
  src: url("assets/fonts/inter/Inter-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "InterRegular";
  src: url("assets/fonts/inter/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterSemiBold";
  src: url("assets/fonts/inter/Inter-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterBoldItalic";
  src: url("assets/fonts/inter/Inter-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterExtraBold";
  src: url("assets/fonts/inter/Inter-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterItalic";
  src: url("assets/fonts/inter/Inter-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SfUIDisplay;
  src: url("assets/fonts/sf-ui-display/sf-ui-display-medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SfUIDisplay;
  src: url("assets/fonts/sf-ui-display/sf-ui-display-bold.otf");
  font-weight: bold;
  font-style: normal;
}
