.audienceText {
  margin-left: 20px;
  font-size: 1.5rem;
}

.mars {
  border-radius: 40%;
  width: 50px;
}

.section {
  color: #ffffff;
  display: flex;
  font-family: 'InterRegular';
  font-size: 20px;
  list-style: none;
  padding: 20px;
}
.audienceText {
  font-family: 'InterRegular';
}

.section b {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'InterSemiBold';
}

.title {
  color: #ffffff;
  font-family: 'InterBold' !important;
  font-size: 3rem;
  line-height: 133.1%;
  white-space: pre-line;
  text-align: center;
}

.sectionsList {
  padding: 0px;
}

@media screen and ( max-width: 600px ) { 
  .audienceText {
    margin-left: 0px;
  }
}