.logo {
  width: 286px;
  top: 50px;
  left: 50px;
}

.header {
  max-width: 100vw;
  padding: 40px 100px;
}

@media (max-width: 600px) {
  .header {
    max-width: 100vw;
    padding: 40px 25px;
  }
}

