.whatsappButton {
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  padding: 20px 15px;
  display: inline-flex;
  background: #2dd44b;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-family: "InterBold" !important;
  cursor: pointer;
}

.whatsappButton * {
  cursor: pointer;
}

.whatsappButton img {
  width: 25px;
  margin-right: 10px;
}