.container {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.changeLanguageButton > button {
  background: linear-gradient(160deg, rgb(16, 134, 232), rgb(184, 0, 230));
}

.image {
  width: 45px;
  height: 45px;
}