.title {
  font-family: 'InterBold';
  font-size: 60px;
  line-height: 1;
}

.title, .description {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}

.description {
  font-family: 'InterSemiBold';
  font-size: 18px;
}

.container {
  cursor: pointer;
  margin-bottom: 30px;
}