.video {
  width: 20vw;
  height: 20vw;
  min-width: 50px;
  max-width: 200px;
  min-height: 50px;
  max-height: 200px;
}

.videoMin {
  width: 10vw;
  height: 10vh;
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px;
}

.video *, .videoMin * {
  border-radius: 20px;
}

.fitMaxLayout {
  display: grid;
}

.fitMaxLayout > div {
  width: 100%; 
}

.fitMaxLayout > div > div:nth-child(2) {
  width: 100%;
  height: calc(100% - 25px);
}

.fitMaxLayout > div > div:nth-child(2) > div {
  height: calc(100% - 45px);
  max-height: 50vh;
}

.fitMaxLayout > div > div:nth-child(2) > div > div {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.fitMaxLayout > div::before {
  content: '';
  padding-top: 100%;
  float: left;
}

.fitMaxLayout > div::after {
  content: '';
  display: block;
  clear: both;
}