.blinkingCursor::after {
  content: "|";
  animation: blink 1s step-start infinite;
}
.button{ 
  margin: auto;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.content {
  margin: 40px 60px 40px 100px;
}

.contact {
  border-top: 3px solid #ffffff;
  color: #ffffff;
  font-family: "InterSemiBold";
  font-size: 1.5rem;
  height: 47px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: 310px;
}

.introductionFooter {
  display: grid;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-family: "InterBold" !important;
  font-size: 4rem;
  line-height: 133.1%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 3rem;
  font-family: "InterRegular" !important;
  color: white;
  margin-bottom: 90px;
  height: 115px;
}

@media screen and ( max-width: 600px ) { 
  .content {
    margin: 40px 10px;
    flex: none;
  }
  .title {
    font-size: 3.5rem;
  }  
}