.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
}

.player {
  width: calc(33.33vw - 200px);
  height: calc(33.33vw - 200px);
  min-width: 200px;
  min-height: 200px;
}

.player > div {
  border-radius: 20px;
  cursor: default;
}

.storyTimeUser {
  border: 5px solid #0DE02E;
  border-radius: 20px;
  padding: 10px;
}

.notStoryTimeUser {
  filter: opacity(0.5);
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .notStoryTimeUserContainer {
    display: none !important;
  }
}
