.host {
  margin: 2px;
  display: inline-flex;
}

.noHost {
  height: 22px;
  display: inline-flex;
}

.hostContainer {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(270deg, #8A64E7 -1.97%, #0DEB73 45.55%, #FF365A 89.41%);
}