.reactionGreyButton img {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

.reactionButton img {
  width: 50px;
}

.containerResults {
  height: 40px;
  margin-top: 10px;
}

.reactionResultButton {
  width: 100%;
  height: 35px;
  margin-left: 0;
}

.reactionResultButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}