.gameButton {
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  height: 70px;
  font-family: "InterBold";
  font-size: 25px;
  line-height: 133.1%;
  letter-spacing: -0.03em;
  margin: 10px;
  width: 248px;
}

.gameButton:hover {
  background: none !important;
  color: white;
  border: 5px solid #702ddd;
}

.gameButton:active {
  background: #5453d8 !important;
  color: white;
  border: 5px solid #1a22e0;
}

.pointer {
  cursor: pointer;
}