.videoPlayer {
  width: 200px;
  height: 200px;
}

.videoPlayer * {
  border-radius: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.vsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vsContainer > img {
  height: 260px;
}