.table {
  display: grid;
  text-align: left;
  grid-template-columns: 140px 1fr;
  min-width: 150px;
}

.table div {
  padding: 20px;
  border-bottom: 5px solid #915BEA;
}

.table div:nth-child(1) {
  border-right: 5px solid #915BEA;
  text-align: center;
}

.wordContainer {
  margin: 20px 0px;
}