.button {
  font-family: beon;
  font-weight: bolder;
  white-space: normal;
  cursor: pointer;
  width: 400px;
  max-width: 85vw;
  font-size: 30px;
  text-transform: uppercase;
  margin: 3px auto;
  transition: box-shadow .5s ease;
  display: grid;
  grid-template-columns: 1fr;
  border: #D420E3 3px solid;
}

.label {
  margin-bottom: 3px;
  color: #fff;
  background-size: cover!important;
  font-family: SfUIDisplay;
}

.image {
  max-width: 200px;
  margin: auto;
  height: 60px;
}

.button {
  background-color: black;
  color: white;
}

.button:hover {
  border: yellow 3px solid;
}
