.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.featuresCategories {
  text-align: center;
}

.featuresContainer {
  padding: 0 10%;
  overflow-x: hidden;
}

.title {
  color: #f8f9d5 !important;
  font-family: "InterExtraBold";
  -webkit-text-stroke-color: #fffafa80;
  -webkit-text-stroke-width: 2px;
  font-size: 20px;
}

@media (max-width: 900px) {
  .detailsContainer {
    grid-template-columns: 1fr;
  }
}
