.sendButton {
  margin-top: 50px;
}

.title {
  color: #ffffff;
  font-family: "InterBold" !important;
  font-size: 4rem;
  line-height: 133.1%;
  white-space: pre-line;
  text-align: center;
}

.contactInformation {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  font-family: "InterItalic" !important;
}

.contactInformation,
.message {
  display: grid;
}

.formElement {
  margin: 10px 0px !important;
}

.formContainer {
  width: 1140px;
  max-width: 80vw;
}

@media screen and ( max-width: 600px ) { 
  .title {
    font-size: 3rem;
  }  
}